<ion-header>
  <ion-toolbar>
    <ion-title>Informar um problema</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-float-left">
        <div style="width: 100%; height: 210px; display: flex; align-items: center; justify-content: center;">
          <ion-button *ngIf="images.length == 0" style="width: 100%;" (click)="newPic()">
            <ion-icon slot="icon-only" name="md-camera"></ion-icon>
          </ion-button>
          <ion-slides *ngIf="images" pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let img of images">
              <ion-img [src]="img" class="imagem"></ion-img>
            </ion-slide>
          </ion-slides>
        </div>
        <ion-item *ngIf="images.length != 0">
          <ion-button size="default" (click)="newPic()" style="width: 100%;">
            <ion-icon slot="icon-only" name="md-camera"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select *ngIf="opcoes" [(ngModel)]="tipo" placeholder="Selecione o tipo">
            <ion-select-option *ngFor="let opt of opcoes" value="{{opt.id}}">{{opt.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descrição</ion-label>
          <ion-textarea [(ngModel)]="descricao"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Causa</ion-label>
          <ion-textarea [(ngModel)]="causa"></ion-textarea>
        </ion-item>
        <ion-item class="ion-float-left" [ngClass]="{'item-has-focus' : endereco}">
          <ion-label position="floating">Endereço</ion-label>
          <ion-textarea [(ngModel)]="endereco" style="width: 80%; margin-left: -40px;font-size: 14px;"></ion-textarea>
          <div (click)="getCurrent()" class="iconbox">
            <ion-icon name="pin"></ion-icon>
          </div>
        </ion-item>
        <ion-item>
          <ion-label>Nível</ion-label>
          <ion-select [(ngModel)]="nivel" placeholder="Selecione o nível">
            <ion-select-option value="0">Baixo</ion-select-option>
            <ion-select-option value="1">Médio</ion-select-option>
            <ion-select-option value="2">Alto</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" (click)="adicionar()">Adicionar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>