<ion-header>
  <ion-toolbar>
    <ion-title>Informar um problema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item (click)="close()">
          <ion-label>Saneamento</ion-label>
        </ion-item>
        <ion-item (click)="close()">
          <ion-label>Buraco na via</ion-label>
        </ion-item>
          <ion-item (click)="close()">
              <ion-label>Falta de água</ion-label>
        </ion-item>
        <ion-item (click)="close()">
          <ion-label>Falta de luz</ion-label>
        </ion-item>
        <ion-item (click)="close()">
          <ion-label>Desmoronamento</ion-label>
        </ion-item>
        
        <ion-item (click)="close()">
            <ion-label>Vazamento de água</ion-label>
          </ion-item>
          
        <ion-item (click)="close()">
            <ion-label>Vazamento de esgoto</ion-label>
          </ion-item>
      </ion-list>

</ion-content>
