

<ion-content padding>
  <div style="height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;">
<ion-grid style="width:100%;">
  <ion-row>
    <ion-col>
        <img src="../assets/img/logo.png" style="height: 107px;">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="margin:0px; padding: 0px;">
      <ion-title color="secondary" style="width:100%;padding: 0px;margin:0px;">
        Arraste para começar..
      </ion-title>
    </ion-col>
  </ion-row>
</ion-grid>

</div>
</ion-content>
