<ion-content padding>

  <ion-grid class="padding">
    <ion-row>
      <ion-col>
        <div class="logocontain">
          <img src="../assets/svg/logo.svg" style="height: 107px; margin: auto; margin-bottom: 5vh;">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item *ngIf="registro">
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="nome" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <button class="btn-login" (click)="login()" *ngIf="!registro" expand="block">Entrar</button>
          <button class="btn-login" (click)="cadastro()" *ngIf="registro" expand="block">Cadastrar</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <div class="longcontain">
            <span *ngIf="!registro" (click)="registro = true">
              Criar uma conta
            </span>
            <span *ngIf="registro" (click)="registro = false">
              Fazer Login
            </span>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  




</ion-content>