<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card sc-ion-card-md-h sc-ion-card-md-s hydrated>
              <img src="../../assets/img/sanemamento.jpg" style="height: 100%; width: 100%;">
              <ion-card-header>
                <ion-card-subtitle>Ipanema II - Patos de Minas</ion-card-subtitle>
                <ion-card-title>Falta de saneamento básico</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Quo, eius eos. Unde amet et, sapiente ullam inventore enim ad 
                minus nemo accusamus cum animi obcaecati ex odio in alias facilis?
              </ion-card-content>
              <ion-item href="#" class="activated">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                <ion-label>Veja mais aqui</ion-label>
              </ion-item>
            </ion-card>       
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card sc-ion-card-md-h sc-ion-card-md-s hydrated>
                <img src="../../assets/img/asfalto.jpg" style="height: 100%; width: 100%;">
                <ion-card-header>
                  <ion-card-subtitle>Caiçaras - Patos de Minas</ion-card-subtitle>
                  <ion-card-title>Asfalto esburacado</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Alias, modi! Quis cum aliquid deserunt vero sequi quisquam 
                  odit. Aut perferendis veritatis at pariatur hic id 
                  voluptatibus mollitia ullam rerum eum!
                </ion-card-content>
                <ion-item href="#" class="activated">
                  <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                  <ion-label>Veja mais aqui</ion-label>
                </ion-item>
              </ion-card>       
            </ion-col>
          </ion-row>
        </ion-grid>
</ion-content>
