<!-- HEADER COM TITULO DINAMICO -->
<ion-header class="fadeIn" *ngIf="atualPage.index != 0"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  color="secondary" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  color="secondary">{{atualPage.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-icon  color="secondary" slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- TABS COM SLIDE -->
  <ion-slides #slider pager="false" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let page of pages" >
      <!-- VERIFICAÇÃO DA PRIMEIRA PÁGINA -->
      <div *ngIf="page.index == 0" >
        <!-- CLICK ADICIONADO PARA REDIRECIONAR A PAGINA -->
        <ion-nav (click)="slideTo(1)" [root]="page.path"></ion-nav>
      </div>
      <!-- DEMAIS PAGINAS -->
      <ion-nav *ngIf="page.index != 0" [root]="page.path"></ion-nav>
    </ion-slide>
  </ion-slides>  
</ion-content>

<!-- FOOTER -->
<ion-footer  class="fadeIn" *ngIf="atualPage.index != 0">
  <ion-toolbar>
      <ion-button  (click)="presentModal()" class="btn-newproblem" expand="full" fill="outline"  color="secondary">
      Novo Problema        
      <ion-icon slot="end" name="add-circle"></ion-icon>
      </ion-button>
  </ion-toolbar>
  </ion-footer>

