<ion-header *ngIf="atualPage.index != 0">
    
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{atualPage.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides #slider pager="false" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let page of pages" >
      <div *ngIf="page.index == 1" (click)="slideTo(1)">
          <ion-nav [root]="page.path" (click)="slideTo(1)"></ion-nav>
      </div>
      <ion-nav *ngIf="page.index != 1" [root]="page.path"></ion-nav>
    </ion-slide>
  </ion-slides>  
</ion-content>
<ion-footer *ngIf="atualPage.index != 0">
    <ion-toolbar>
      <h6> Carrinho </h6> 
    </ion-toolbar>
  </ion-footer>

