<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-list>
                  <ion-item>
                    <ion-label>Pokémon Yellow</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Mega Man X</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>The Legend of Zelda</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Pac-Man</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Super Mario World</ion-label>
                  </ion-item>
                </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button color="primary"(click)="dimissPage()">Sair</ion-button>
</ion-content>
