<ion-app>
    <ion-menu contentId="content" menuId="first">
        <ion-header>
            <ion-toolbar color="secondary">
              <ion-title>Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-item>Configurações</ion-item>
              <ion-item (click)="navCtrl.navigateRoot('/profile');menu.close('first');">Perfil</ion-item>
              <ion-item (click)="sair()">Sair</ion-item>
            </ion-list>
          </ion-content>
      </ion-menu>


  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
