.btn-login{
    width: 100%;
    font-size: 15px;
    border-radius: 4px;
    background: #8dc342;
    padding: 13px;
    color: #fff;
    border: 2px solid #8dc342;
}
.btn-login:active{
    width: 100%;
    font-size: 15px;
    border-radius: 4px;
    background: #fff;
    padding: 13px;
    color: #8dc342;
    border: 2px solid #8dc342;
}