// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.modal-fullscreen{
    .modal-wrapper {
    margin: auto;
    z-index: 20001;
    max-height: 81%!important;
    //box-shadow: 0px 1px 10px 2px #3e3e3e57;
    border-radius: 5px;
    max-width: 90%!important;
    }
    
  }
  .modal-fullscreen ion-title{
    padding-left: 50px;
    padding-right: 50px;
  }